{% extends "base.html" %}
{% block style %}
<style>

.container{
    margin-top: 1em;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    background-color: rgb(231, 226, 226);

    text-align:center;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 30px 4px gray;
    
}
.subjects {
    padding: 2em;
    padding-top: 0;
    height: 100%;
}
.subject p{
    color: rgb(6, 88, 88);
    font-weight: bolder;
    text-shadow: 6cm;
    padding: 0.5em;
    margin: 0;
    display: flex;

}
.button{
    background-color: aqua;
    padding: 3px;
    border: yellow 2px solid;
    margin: 3px;
    box-shadow: 1px 1px 3px 2px gray;
    font-weight:bold;
}
.button:hover{
    transform: translate(2px,2px);
}
#result{

    font-weight: 800;
    color: rgb(0, 26, 255);
}

@media (max-width : 469px){
    .subject{
        display: flex;
        flex-direction: column;
        
    }
}
    


</style>




{% endblock style %}
{% block title %}GPA Calculator{% endblock title %}
  {% block content %}
    <div class="container">
      <h1  style="color: chocolate;">GPA Calculator</h1>
      <h6>Iqra University Grading System</h6>
    <div class="subjects" id="subjects">

        <div class="subject" id="subject">
            <p>Subject 1</p>
            <label  for="grade">Grade : </label>
            <select name="grade" id="grade">
              <option  value="0">Select Grade</option>
                <option value='A'>A</option>
                <option value='B+'>B+</option>
                <option value='B'>B</option>
                <option value='C+'>C+</option>
                <option value='C'>C</option>
                <option value='F'>F</option>
            </select>
          <label for="hours">Credit Hours : </label>
            <select name="hours" id="hours">
                <option value="d">Select Credit</option>
<option value=1>1</option>
<option value=2>2</option>
<option value=3>3</option>
<option value=4>4</option>


            </select>
        </div>
    </div><div>
    <button class="button" id="add">Add Subject</button>
    <button class="button" id="remove" style="padding-left:0;">Remove Subject</button></div>
    <button class="button" id="count">Calculate</button>
    <p id="result">0 GPA</p>
    <p>Made by : Zeeshan Ali</p>
</div>

    <script >
      function grades(grade){
        
        switch (grade) {
            case "A":
                return 4.0
                break;
            case "B+":
                return 3.5
                break;
            case "B":
                return 3.0
                break;
            case "C+":
                return 2.5
                break;
            case "C":
                return 2.0
                break;
            case "F":
                return 0
                break;

            default:
                return 0
        }}



        for(let i =1 ;i<3;i++){
            let subjects = document.getElementById("subject").cloneNode(true)
     
        subjects.querySelector('p').innerText= "Subject " +(i+1)
                document.getElementById("subjects").appendChild(subjects)}

       
        var index = 4
        var asubjects = document.getElementsByClassName("subject")


                    // REMOVE BUTTON 


document.getElementById("remove").addEventListener("click",(e)=>{
    console.log(index)
 if (index > 2) {
    console.log("first")
 
    
    document.getElementById("subjects").removeChild(document.getElementById("subjects").lastChild)
if(index>2){
    console.log("second")
    index--
}
}
})


                // ADD BUTTON 


        document.getElementById("add").addEventListener("click",()=>{
          
           
            

    console.log("else")
         var subject = document.getElementById("subject").cloneNode(true)
        subject.querySelector('p').innerText = "Subject " +(index)
        index++
        document.getElementById('subjects').appendChild(subject)
       })

        document.getElementById("count").addEventListener("click" , ()=>{

         var nSubject = asubjects.length
     
        var tHours = 0
        var tgradeP =Number(0)
        var tGrades = 0

        for ( let i = 0; i<nSubject;i++){


            let grade = asubjects[i].querySelectorAll("select")[0].value
            let hour = asubjects[i].querySelectorAll("select")[1].value
          let gradeP = grades(grade) * hour
          tgradeP += Number(gradeP)

            tGrades= tGrades + grades(grade)
            tHours = Number(tHours)+ Number(hour)
        }
        let gpa = Number(tgradeP/tHours)
        
if (isNaN(gpa)){
        document.getElementById('result').innerText = `Please Fill out All the inputs`
        document.getElementById("result").style.color = "red"
        
    }
        
        else {
            
        document.getElementById('result').innerText = `${(gpa.toFixed(2))} GPA`
        document.getElementById("result").style.color = "blue"
        }
        })


    </script>
    {% endblock content %}
