{% extends "base.html" %}
{% block content %}


<div class="text-center">

    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-8 ">Sorry, This Page is Under Construction</h1>
            <p class="lead">We apologize for the inconvenience. We're currently working on this page and will add content soon. Please check back later.</p>
            
            <!-- Go Back Home Button -->
            <a href="{% url 'home' %}" class="btn btn-danger btn-lg mt-3">Go Back Home</a>
        </div>
    </div>
</div>



{% endblock content %}